<div class="test">
  <span class="title">Объекты</span>
  <input
    type="text"
    class="search-input"
    placeholder="Search"
    [formControl]="searchFormControl"
    (input)="searchResult(searchFormControl.value)"
  />
  <div
    class="car-container"
    *ngFor="let carItem of carSearchObjects"
    (click)="carClicked(carItem)"
    [ngClass]="carItem.clicked ? 'car-container-focused' : 'car-container'"
  >
    <mat-icon class="car-icon">directions_car</mat-icon>
    <p>{{ carItem.name }}</p>
  </div>
</div>
<agm-map [latitude]="mapLat" [longitude]="mapLon" [zoom]="5">
  <agm-marker
    *ngFor="let car of carSearchObjects"
    [latitude]="car.latitude"
    [longitude]="car.longitude"
    [animation]="car.animation"
    (markerClick)="pingMarker(car.id)"
    (mouseOver)="markerOver(car)"
    (mouseOut)="markerOut(car)"
  >
    <agm-info-window>
      <strong>{{ car.name }}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
